In [6]:
#Tuples:its a orderd,duplicate values allowed,but we can't change the value once we assigned

In [7]:
t1=(1,1,2,3.1,"dj")
print(t1)

(1, 1, 2, 3.1, 'dj')

In [8]:
print(t1[0])

1

In [9]:
print(t1[1])

1

In [11]:
print(t1[0:5:1])

(1, 1, 2, 3.1, 'dj')

In [12]:
print(type(t1))

<class 'tuple'>

In [13]:
t2=(2,3,4.1,"djj","kl")

In [14]:
#empty tuple
t1=tuple()
print(type(t1))

<class 'tuple'>

In [15]:
print(t1)

()

In [16]:
#nested tuble
t3=(2,3,4,("dj","fj"))

In [17]:
print(t3)

(2, 3, 4, ('dj', 'fj'))

In [18]:
print(t3[3])

('dj', 'fj')

In [19]:
new=(2,3,4,[4.1,2,3])
print(new)

(2, 3, 4, [4.1, 2, 3])

In [20]:
print(type(new))

<class 'tuple'>

In [21]:
new[3][0]

4.1

In [24]:
#creating thetuple it contain only one item
var1=("hello",)
print(var1)

('hello',)

In [25]:
print(type(var1))

<class 'tuple'>

In [28]:
#tuple constructor
a=tuple(("a","b","c"))

In [29]:
print(type(a))

<class 'tuple'>

In [1]:
#indexing
a=(23,34,45,67,78)
print(a[2])

45

In [2]:
print(a[-1])

78

In [3]:
a=(23,34,45,67,78,"data","python")
print(a[-1])

python

In [4]:
print(a[0:7:1])

(23, 34, 45, 67, 78, 'data', 'python')

In [5]:
print(a[-1::-1])

('python', 'data', 78, 67, 45, 34, 23)

In [6]:
t=(1,2,3,4,5,6,7,8)
print(t[::])

(1, 2, 3, 4, 5, 6, 7, 8)

In [9]:
print(t[3:])

(4, 5, 6, 7, 8)

In [10]:
print(t[:4])

(1, 2, 3, 4)

In [13]:
print(t[-2:-5])

()

In [17]:
#In tuple we can't do change but we can do one way
t=(1,2,"dj",3.2,45,56)
print(t)
t1=list(t)

(1, 2, 'dj', 3.2, 45, 56)

In [19]:
t1.append("vardhaman")

In [20]:
t1

[1, 2, 'dj', 3.2, 45, 56, 'vardhaman']

In [21]:
t=tuple(t1)

In [22]:
t

(1, 2, 'dj', 3.2, 45, 56, 'vardhaman')

In [23]:
t1=list(t)

In [24]:
t1.remove(3.2)

In [25]:
t=tuple(t1)

In [26]:
t

(1, 2, 'dj', 45, 56, 'vardhaman')

In [27]:
a=(1,2,3,4,5,6,7,8)
del a

In [29]:
t=[3,4,5,6]

In [30]:
del t

In [34]:
a=(1,2,3,4,5,6,7)
for i in a:
    print(i)

1
2
3
4
5
6
7

In [35]:
#join the two tuples
t=(1,2,3,4)
t1=(3,4,5,6)
t3=t+t1

In [36]:
t3

(1, 2, 3, 4, 3, 4, 5, 6)

In [38]:
t=(1,2,3,4)
t2=t+t
print(t2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [43]:
#write a program totake 5 input fromthe user store it in a tuple
l=list()
for i in range(5):
    n=int(input("enter the value"))
    l.append(n)
t=tuple(l)
print(t)

enter the value3
enter the value4
enter the value5
enter the value5
enter the value6
(3, 4, 5, 5, 6)